<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1 class="glow-text">Sentiment Analysis</h1>
        <textarea id="text-input" placeholder="Enter your text here..."></textarea>
        <button onclick="analyzeSentiment()">Analyze</button>
        <div id="result-container">
            <h2>Result:</h2>
            <p id="sentiment"></p>
            <p id="textblob-score"></p>
            <p id="vader-score"></p>
            <div id="graph-container">
                <img id="graph" src="" alt="Sentiment Graph">
            </div>
        </div>
    </div>
    <script src="../static/script.js"></script>
</body>
</html>
